@model UsingMVC.Models.client.cs
@{
    ViewBag.Title = "AddClient";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
        <p>Imie: @Model.kli_imie</p>
        <p>Nazwisko: @Model.kli_nazwisko</p>

    </div>


    <input id="im" type="text" />
    <input id="naz" type="text" />
    <input id="confirm" type="button" value="OK" />

</body>

</html>